{% extends 'base.html.twig' %}
{% block body %}
    <div id='main'>
        <div class="banner-img"></div>
        <div class="banner-text">
            <h1> Le Festival Commence ! </h1>
            <p> Cette année encore on relance l'appel aux candidatures ! </br> Vous etes un groupe de musique et vous souhaitez jouer devant un public cet été? </br> On s'occupe de tout ! Dépose juste ta canditature ! </p>   
            </br>
            <li class="nav-item"><a href='Candidatures'>Clique ici ! </a></li>
         </div>
    </div>
{% endblock %}
