<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    {% block head %}
     <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
     <style>
        #main,footer{ padding:1em }
    </style>
     <link rel="stylesheet" href="CSS/style.css">
    {% endblock %}
</head>
<body>
       <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href='./'>Acceuil</a></li>
                <li class="nav-item"><a href='register'>inscription</a></li>
                <li class="nav-item"><a href='login'>connexion</a></li>
                <li class="nav-item"><a href='profil'>profil</a></li>
                <li class="nav-item"><a href='candidatures'>candidatures</a></li>
            </ul>
        </nav> 
        {% block body %}Contenu générique{% endblock %}
 </body>
</html>
