{% extends 'base.html.twig' %}

{% block title %}Hello modif profil!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div id='main'>
    <div class="container">
        <div class="title">Modification du mot de passe</div>
        <form method="post">
            <div>
                <label for="pass">Mot de passe</label>
                <input type="password" id="pass" name="pass">
            </div>
            <div>
                <label for="pass2">Confirmer le mot de passe</label>
                <input type="password" id="pass2" name="pass2">
            </div>
            <button>Valider</button>
        </form>
    </div>
</div>



{% endblock %}
